:root {
	--calendar-face-width: 600px;
	--calendar-face-margin: 20px;
	--caneldar-face-scale: 2;
}
.space {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.calendar {
	position: relative;
	width: 100vw;
	height: 480px;
	overflow-x: hidden;
}

.calendar .face {
	position: absolute;
	top: 5px;
	width: var(--calendar-face-width);
	padding: 5px;
	background-color: inherit;
	box-shadow: 1px 2px 4px 2px #0007;
	transform-origin: top left;
	transition-duration: 400ms;
}
.calendar .face:not(.active) {
    transform: scale(calc(1 / var(--caneldar-face-scale)));
	cursor: pointer;
}
.calendar .face:not(.active) textarea {
    pointer-events: none;
}
.calendar .face[data-month="-1"] {
	content: 'LAST MONTH';
	left: calc(0% + var(--calendar-face-margin) / 2);
}
.calendar[data-selected-index="0"] .face[data-month="-1"] {
	left: calc(50% - (var(--calendar-face-width)) / 2 - var(--calendar-face-margin) - var(--calendar-face-width) / var(--caneldar-face-scale))
}
.calendar[data-selected-index="1"] .face[data-month="-1"] {
	left: calc(100% - var(--calendar-face-margin) / 2 - var(--calendar-face-width) - var(--calendar-face-margin) - var(--calendar-face-width) / var(--caneldar-face-scale) - var(--calendar-face-margin) / 2 - var(--calendar-face-width) / var(--caneldar-face-scale));
}
.calendar .face[data-month="0"] {
	content: 'THIS MONTH';
	left: calc(50% - var(--calendar-face-width) / 2);
}
.calendar[data-selected-index="-1"] .face[data-month="0"] {
	left: calc(0% + var(--calendar-face-margin) / 2 + var(--calendar-face-width) + var(--calendar-face-margin) );
}
.calendar[data-selected-index="1"] .face[data-month="0"] {
	left: calc(100% - var(--calendar-face-margin) / 2 - var(--calendar-face-width) - var(--calendar-face-margin) - var(--calendar-face-width) / var(--caneldar-face-scale) );
}
.calendar .face[data-month="1"] {
	content: 'NEXT MONTH';
	left: calc(100% - var(--calendar-face-margin) / 2 - var(--calendar-face-width));
}
.calendar[data-selected-index="-1"]  .face[data-month="1"] {
	left: calc(0% + var(--calendar-face-margin) / 2 + var(--calendar-face-width) + var(--calendar-face-margin) + var(--calendar-face-width) / var(--caneldar-face-scale) + var(--calendar-face-margin) / 2 );
}
.calendar[data-selected-index="0"]  .face[data-month="1"] {
	left: calc(50% + var(--calendar-face-width) / 2 + var(--calendar-face-margin));
}

.calendar .header {
	text-align: center;
	padding: 5px;
}
.calendar .year {
	margin: 0;
	font-size: 80%;
}
.calendar .month {
	margin: 0;
	font-size: 100%;
	font-weight: 900;
}

.calendar .body {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	padding: 5px;
}
.calendar .day {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80px;
	flex-grow: 1;
	height: 60px;
	border: 0 solid #000;
	border-width: 0 1px 1px 0;
	padding: 2px 3px;
	font-size: 60%;
}
.calendar .day:nth-child(7n+1) {
	border-left-width: 1px;
}
.calendar .day:nth-child(-n+7){
	border-top-width: 1px;
}
.calendar .day.sunday {
	color:#F55;
}
.calendar .day.saturday {
	color:#05F;
}
.calendar .day.inactive {
	color:#BBB;
}
.calendar .today::after {
	content:'';
	position:absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	border: 2px solid #F55;
}
@media (prefers-color-scheme: dark) {
	.calendar .day {
		border-color: #555;
		color: #BBB;
	}
	.calendar .day.sunday {
		color:#B55;
	}
	.calendar .day.saturday {
		color:#39F;
	}
	.calendar .day.inactive {
		color:#555;
	}
}

.calendar .day textarea {
	border: 0 none;
	width: 100%;
	flex-grow: 1;
	background: transparent;
	color: #777;
	resize: none;
}
.calendar .face:not(.active) textarea {
	visibility: hidden;
}

.clock {
	position: relative;
}

.clock .top {
    position: absolute;
    top: -10px;
    width: 500px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(90deg, #222 1px, #777 4px, #222 7px, #000 calc(100% - 8px), #333 calc(100% - 4px),black calc(100% - 2px))
}

.clock .face {
	position: relative;
	width: 500px;
	height: 100px;
	border-radius: 10px;
	background-color:#000;
}

.clock .face div {
	position: absolute;
	top: 50%; left: 50%;
	width: 40px;
	height: 60px;
	transform:translate(-50%,-50%);
}

.clock .face div[d-index="0"] {
	transform:translate(-575%,-50%);
}
.clock .face div[d-index="1"] {
	transform:translate(-475%,-50%);
}
.clock .face div[d-index="2"] {
	transform:translate(-375%,-50%);
}
.clock .face div[d-index="3"] {
	transform:translate(-300%,-50%);
}
.clock .face div[d-index="4"] {
	transform:translate(-225%,-50%);
}
.clock .face div[d-index="5"] {
	transform:translate(-125%,-50%);
}
.clock .face div[d-index="6"] {
	transform:translate(-50%,-50%);
}
.clock .face div[d-index="7"] {
	transform:translate(+25%,-50%);
}
.clock .face div[d-index="8"] {
	transform:translate(+125%,-50%);
}
.clock .face div[d-index="9"] {
	transform:translate(+200%,-50%);
}
.clock .face div[d-index="10"] {
	transform:translate(+275%,-50%);
}
.clock .face div[d-index="11"] {
	transform:translate(+375%,-50%);
}
.clock .face div[d-index="12"] {
	transform:translate(+475%,-50%);
}

.clock .face span {
	position:absolute;
	background-color: #333;
}
.clock .face span.is-active {
	background-color: #FF3;
	box-shadow: 0 0 4px 2px #ffb7;
}

.clock .face span:before,
.clock .face span:after{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: inherit;
	transform: rotate(45deg) scale(.8);
}

.clock .face span[stroke-type="horizontal"] {
	width: 20px;
	height: 5px;
}
.clock .face span[stroke-type="horizontal"]:before {
	left:-2.5px;
}
.clock .face span[stroke-type="horizontal"]:after {
	right:-2.5px;
}

.clock .face span[stroke-type="horizontal"][stroke-y="-"] {
	top: 0px;
	left: 50%;
	transform:translate(-50%,0);
}
.clock .face span[stroke-type="horizontal"][stroke-y="0"] {
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
.clock .face span[stroke-type="horizontal"][stroke-y="+"] {
	bottom: 0;
	left: 50%;
	transform:translate(-50%,0);
}

.clock .face span[stroke-type="vertical"] {
	width: 5px;
	height: 20px;
}
.clock .face span[stroke-type="vertical"]:not([stroke-x]) {
	height: 10px;
}
.clock .face span[stroke-type="vertical"]:before {
	top:-2.5px;
}
.clock .face span[stroke-type="vertical"]:after {
	bottom:-2.5px;
}

.clock .face span[stroke-type="vertical"][stroke-y="-"]:not([stroke-x]) {
	top: 6px;
	left: 50%;
	transform:translate(-50%,0);
}
.clock .face span[stroke-type="vertical"][stroke-y="-"][stroke-x="-"] {
	top: 6px;
	left: 5px;
	transform:translate(-50%,0);
}
.clock .face span[stroke-type="vertical"][stroke-y="-"][stroke-x="+"] {
	top: 6px;
	right: 5px;
	transform:translate(50%,0);
}
.clock .face span[stroke-type="vertical"][stroke-y="+"]:not([stroke-x]) {
	bottom: 6px;
	left: 50%;
	transform:translate(-50%,0);
}
.clock .face span[stroke-type="vertical"][stroke-y="+"][stroke-x="-"] {
	bottom: 6px;
	left: 5px;
	transform:translate(-50%,0);
}
.clock .face span[stroke-type="vertical"][stroke-y="+"][stroke-x="+"] {
	bottom: 6px;
	right: 5px;
	transform:translate(50%,0);
}