.x_search {
}

.x_search__title {
	font-size:14px;
}

.x_search__row {
	position:relative;
}

.x_search__logo {
	display:block;
	width:100px;
	height:30px;
	background:transparent none center right no-repeat;
	background-size:contain;
}
.x_search__row[data-vendor="naver"] .x_search__logo {
	background-image:url(../../res/fg/naver_logo.png);
}
.x_search__row[data-vendor="google"] .x_search__logo {
	background-image:url(../../res/fg/googlelogo_color_272x92dp.png);
}

.x_search__input {
	width:200px;
	height:30px;
	border: 2px solid #999;
	box-sizing:border-box;
	padding:5px;
	outline:none;
	font-size:13px;
    font-family:'돋움';
}
.x_search__row.is-active[data-vendor="naver"] > .x_search__input {
	border: 2px solid #17cb34;
}
.x_search__row.is-active[data-vendor="google"] > .x_search__input {
	border: 2px solid #4285f4;
}

.x_search__tooltip {
	position:absolute;
	z-index:1;
	bottom:100%;
	left:100px;
	margin-left:.5rem;
}
.x_search__row:last-of-type > .x_search__tooltip {
	top:100%;
	bottom:unset;
}
.x_search__tooltip-visual {
	width:200px;
	border-radius:5px;
	border:1px solid #999;
	background-color:#FFF;
	color:#BBB;
}
.x_search__tooltip-keyicon {
	width:32px;
	filter:brightness(0);
}
.x_search__tooltip-text {
	margin:auto 0;
	font-size:13;
}


.x_search__footer_text {
	font-size:12px; color:#666;
}
.x_search__footer_text > .accent {
	font-weight:bolder; filter:brightness(0);
}
@media (prefers-color-scheme: dark) {
	.x_search__footer_text > .accent {
		filter:brightness(0) invert(1);
	}
}